### Acerca del conjunto de datos

#### Opciones y preferencias alimentarias de los estudiantes universitarios

Este conjunto de datos incluye información sobre opciones de alimentos, nutrición, preferencias, favoritos de la infancia y otra información de estudiantes universitarios. Hay 126 respuestas de estudiantes. Los datos son crudos y sin limpiar. La limpieza está en proceso y tan pronto como se haga, se publicarán versiones adicionales de los datos.
Agradecimientos
Gracias a todos los estudiantes de Mercyhurst University que aceptaron participar en esta encuesta.

#### Inspiración

¿Qué importancia tiene la información nutricional para los universitarios de hoy? ¿Su gusto por la comida está definido por sus preferencias alimenticias cuando eran niños? ¿Es más probable que los hijos de padres que cocinan elijan mejores alimentos que otros? ¿Es probable que estos niños tengan un gusto diferente en comparación con los demás? Hay una serie de preguntas abiertas incluidas en este conjunto de datos, tales como: ¿Cuál es su comida reconfortante favorita? ¿Cuál es tu cocina favorita? que podría funcionar bien para el procesamiento del lenguaje natural

In [1]:
import pandas as pd

In [2]:
ruta = 'C:/Users/arfeldman/Desktop/DataDash/datasets/food_coded.csv'

In [3]:
df = pd.read_csv(ruta)

In [4]:
df.describe(include='all')

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
count,123,125.000000,125.000000,125.000000,106.000000,124.000000,125.00000,124,124,106.000000,...,124.000000,123.000000,125.000000,124.000000,125.000000,104,125.000000,125.000000,125.000000,123
unique,38,NaN,NaN,NaN,NaN,NaN,NaN,124,107,NaN,...,NaN,NaN,NaN,NaN,NaN,67,NaN,NaN,NaN,47
top,3.5,NaN,NaN,NaN,NaN,NaN,NaN,none,boredom,NaN,...,NaN,NaN,NaN,NaN,NaN,none,NaN,NaN,NaN,135
freq,13,NaN,NaN,NaN,NaN,NaN,NaN,1,7,NaN,...,NaN,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,8
mean,NaN,1.392000,1.112000,577.320000,3.028302,505.241935,1.75200,NaN,NaN,2.698113,...,1.217742,1.390244,3.336000,947.580645,555.040000,NaN,4.008000,1.512000,1073.400000,NaN
std,NaN,0.490161,0.316636,131.214156,0.639308,230.840506,0.43359,NaN,NaN,1.972042,...,0.414385,0.489800,1.436528,202.090179,152.370379,NaN,1.081337,0.501867,248.667092,NaN
min,NaN,1.000000,1.000000,265.000000,2.000000,315.000000,1.00000,NaN,NaN,1.000000,...,1.000000,1.000000,1.000000,580.000000,345.000000,NaN,1.000000,1.000000,575.000000,NaN
25%,NaN,1.000000,1.000000,430.000000,3.000000,420.000000,2.00000,NaN,NaN,2.000000,...,1.000000,1.000000,2.000000,725.000000,500.000000,NaN,3.000000,1.000000,900.000000,NaN
50%,NaN,1.000000,1.000000,610.000000,3.000000,420.000000,2.00000,NaN,NaN,2.000000,...,1.000000,1.000000,3.000000,940.000000,500.000000,NaN,4.000000,2.000000,900.000000,NaN
75%,NaN,2.000000,1.000000,720.000000,3.000000,420.000000,2.00000,NaN,NaN,3.000000,...,1.000000,2.000000,5.000000,1165.000000,690.000000,NaN,5.000000,2.000000,1315.000000,NaN
max,NaN,2.000000,2.000000,720.000000,4.000000,980.000000,2.00000,NaN,NaN,9.000000,...,2.000000,2.000000,5.000000,1165.000000,850.000000,NaN,5.000000,2.000000,1315.000000,NaN

In [8]:
df.T.head(62)

,0,1,2,3,4,5,6,7,8,9,...,115,116,117,118,119,120,121,122,123,124
GPA,2.4,3.654,3.3,3.2,3.5,2.25,3.8,3.3,3.3,3.3,...,3.3,3.4,3.77,3.63,3.2,3.5,3,3.882,3,3.9
Gender,2,1,1,1,1,1,2,1,1,1,...,2,1,1,1,2,1,1,1,2,1
breakfast,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
calories_chicken,430,610,720,430,720,610,610,720,430,430,...,610,610,610,430,610,610,265,720,720,430
calories_day,NaN,3.0,4.0,3.0,2.0,3.0,3.0,3.0,NaN,3.0,...,4.0,NaN,NaN,3.0,3.0,4.0,2.0,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
type_sports,car racing,Basketball,none,NaN,Softball,None.,soccer,none,none,field hockey,...,Hockey,none,"No, I don't play sport.",None,Soccer,Softball,basketball,none,NaN,NaN
veggies_day,5,4,5,3,4,1,4,4,3,5,...,2,5,3,5,5,5,5,4,3,4
vitamins,1,2,1,1,2,2,1,2,2,1,...,2,1,1,2,2,1,2,2,1,2
waffle_calories,1315,900,900,1315,760,1315,1315,1315,760,900,...,1315,1315,760,1315,1315,1315,1315,1315,1315,575
weight,187,155,I'm not answering this.,"Not sure, 240",190,190,180,137,180,125,...,150,170,113,140,185,156,180,120,135,135

In [10]:
df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

In [14]:
df.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         21
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [16]:
df.shape

(125, 61)

In [21]:
df.Gender.unique()

array([2, 1], dtype=int64)

In [22]:
df.type_sports.unique()

array(['car racing', 'Basketball ', 'none', nan, 'Softball', 'None.',
       'soccer', 'field hockey', 'Running', 'Soccer and basketball ',
       'intramural volleyball', 'Hockey', 'hockey', 'dancing ',
       'basketball', 'Soccer', 'Tennis', 'tennis soccer gym',
       'Gaelic Football', 'Ice hockey', 'Lacrosse ', 'snowboarding',
       'none organized', 'softball', 'Lacrosse', 'Softball ', 'Dancing',
       'wrestling ', 'no particular engagement ', 'Volleyball', 'soccer ',
       'wrestling & rowing', 'Wrestling', 'Skiing', 'skiing ',
       'Water polo and running ', 'Ice Hockey', 'rowing ', 'None',
       'tennis  ', 'Recreational Basketball, Equestrian Team',
       'Rec Volleyball', 'baseball', 'I danced in high school',
       'horse back riding', 'competitive skiing',
       'Rowing, Running, and Cycling', 'softball and basketball',
       'wrestling', 'Marching Band', 'Collegiate Water Polo',
       'None right now', 'volleyball, lacrosse', 'none ', 'Fotball',
       'crew', 'Football, Basketball, Volleyball, Golf',
       'hockey, soccer, golf', 'Running ', 'Volleyball, Track',
       'When I can, rarely though play pool, darts, and basketball.',
       'None at the moment', 'volleyball', 'I used to play softball ',
       ' None', 'Tennis, Basketball', "No, I don't play sport.",
       'basketball '], dtype=object)

In [23]:
df.type_sports.value_counts()

none                                        8
Hockey                                      7
None                                        5
softball                                    4
Soccer                                      4
                                           ..
Ice Hockey                                  1
rowing                                      1
tennis                                      1
Recreational Basketball, Equestrian Team    1
basketball                                  1
Name: type_sports, Length: 67, dtype: int64